/* Body and Core Css */

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  background: url(../images/bg.png) #fafafa center fixed !important;
}

a {
  text-decoration: none !important;
}

a:focus, a:active {
  text-decoration: none;
  outline: none;
}

p {
  font-size: 20px;
}

*:focus {
  outline: 0;
}

#wrapper {
  margin: 70px 0;
}

.parallax {
  background: url(../images/parallax-bg.jpg);
  height: 408px;
  position: absolute;
  width: 100%;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
}

.nav-tabs {}

.nav-tabs>li>a {
  color: white;
  border: medium none;
  font-size: 20px;
}

.nav-tabs>li>a:hover {
  border: medium none;
  border-radius: 1;
  color: #243c4f;
}

.sidebar-wrapper {}

.divider3 {
  margin-bottom: 10px;
}

.textoGrande {
  font-size: 20px;
}

.prueba {}

/* Menu */

ul.top-menu {
  width: 100%;
  background: #fff;
  display: inline-block;
  -webkit-box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
  box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
}

ul.top-menu li {
  list-style: none;
  float: left;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  border-right: 1px dashed #cccccc;
}

ul.top-menu li:last-child {
  border-right: 0;
}

ul.top-menu li a {
  color: #000;
  padding: 30px;
  display: inline-block;
  display: block;
}

ul.top-menu li a:hover {
  transition: all ease 0.2s;
  color: #243c4f;
}

ul.top-menu li .selected {
  color: #243c4f;
}

ul.top-menu li i {
  font-size: 14px;
  margin-right: 4px;
}

ul.top-menu li .selected {
  color: #243c4f;
}

ul.top-menu li:hover {
  border-bottom: 3px solid #243c4f;
}

ul.top-menu li.active {
  border-bottom: 3px solid #243c4f;
}

/* Profile */

.profile-image {
  width: 100%;
  -webkit-box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
  box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
}

.profile-image img {
  width: 100%;
}

.profile-info {
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
  box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
  padding: 12% 0 0% 0%;
}

.profile-info h1 {
  font-weight: 900;
  padding: 1% 0 4% 0;
}

.name-job {
  padding: 10% 0;
  border-bottom: 1px dashed #cccccc;
}

.job {
  color: #c1c1c1;
  font-weight: 400;
  line-height: 30px;
}

.profile-info .social-icons {
  padding: 10% 0 10% 0;
}

.social-icons a {
  font-size: 20px;
  color: #2A2A2A;
  border: solid 1px #2A2A2A;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 100%;
  width: 13%;
  display: inline-block;
  padding: 2% 0px;
  margin-right: 5px;
  text-align: center;
}

.social-icons a:hover {
  transition: all ease 0.3s;
}

.social-icons a.facebook:hover {
  color: #fff;
  background: #4267b2;
  border: solid 1px #4267b2;
}

.social-icons a.twitter:hover {
  color: #fff;
  background: #1da1f2;
  border: solid 1px #1da1f2;
}

.social-icons a.linkedin:hover {
  color: #fff;
  background: #0177B5;
  border: solid 1px #0177B5;
}

.social-icons a.bitbucket:hover {
  color: #fff;
  background: #205081;
  border: solid 1px #205081;
}

.social-icons a.pdf:hover {
  color: #fff;
  background: #D90000;
  border: solid 1px #D90000;
}

/* Content */

.content {
  background: #fff;
  margin-top: 30px;
  -webkit-box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
  box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
}

.page-title {
  padding: 25px 30px;
}

.page-title h2 {
  font-size: 25px;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #243c4f;
  padding: 10px;
  border-bottom: 4px solid #243c4f;
}

.page-subtitle {
  padding: 10px 30px;
}

.page-subtitle h2 {
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: underline #243c4f;
  text-decoration-thickness: 4px;
  color: #243c4f;
}

.page {
  padding-top: 30px;
  display: inline-block;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 27px 0;
  float: left;
  left: 0;
  border-top: 1px dashed #cccccc;
}

.footer p {
  color: #b4b4b4;
  font-size: 18px;
}

.title_middle {
  margin-bottom: 3rem;
}

.title_middle, h3 {
  font-size: 2.2rem;
  line-height: 3rem;
}

.title_label {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 10px 0px 5px;
  border-radius: 50px;
  color: #243c4f;
  font-weight: bold;
  font-size: 23px;
}

.subtitle_label {
  display: inline-block;
  vertical-align: middle;
  color: #b4b4b4;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 10px 0px 40px;
}

.title_middle i {
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  padding-top: 18px;
  float: left;
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  background: #243c4f;
}

/* About Page */

.pinfo {
  padding: 30px 15px;
  float: left;
  width: 100%;
  border-bottom: 1px dashed #cccccc;
}

.ptext {
  padding: 30px 15px;
  float: left;
  width: 100%;
  border-bottom: 1px dashed #cccccc;
}

.pwedo {
  padding: 30px 15px;
  float: left;
  width: 100%;
  border-bottom: 1px dashed #cccccc;
}

.pstat {
  padding: 30px 15px;
  float: left;
  width: 100%;
}

.spotted {
  border-top: 1px dashed #cccccc;
}

.gray-bg {
  background: #f7f7f7;
}

ul.info-list li {
  list-style: none;
  font-size: 20px;
  line-height: 40px;
}

ul.info-list li span {
  color: #7F7F7F;
}

ul.info-list li a {
  color: #7F7F7F;
}

ul.skill-list h3 {
  display: block;
  margin-bottom: 0;
  font-size: 18px;
  color: #000;
}

ul.skill-list li {
  list-style: none;
}

.skill-list {
  padding-bottom: 10px;
  padding-right: 45px;
}

.skill-list .progress {
  border: 0px solid #243c4f;
  background-color: #31708f70;
}

.skill-list .progress .percentage {
  background-color: #243c4f;
}

.skill-list .progress .percentage span {
  color: white;
  text-align: center;
  padding: 0px 50%;
}

.progress {
  margin: 15px 0;
  display: block;
  height: 10px;
  position: relative;
  width: 100%;
  overflow: visible;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #ffffff;
  box-shadow: 0;
}

.progress .percentage {
  border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
  bottom: 0;
  position: absolute;
  top: 0;
}

.about-text p {
  color: #7F7F7F;
  line-height: 24px;
  font-size: 14px;
}

.container_services {
  padding: 15px 30px 0px 25px;
  text-align: center;
}

.services {
  display: inline-block;
}

.services .service i {
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  padding-top: 18px;
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  background: #243c4f;
}

.services .service .features {
  padding-top: 5%;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  padding-right: 5%;
}

.services .service p {
  font-size: 18px;
  color: #7F7F7F;
}

.services .service {
  margin-bottom: 30px;
}

.container_stats {
  padding: 15px 30px 0px 25px;
  text-align: center;
}

.stats {
  display: inline-block;
}

.stats .stat i {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 100px;
  text-align: center;
  padding-top: 25px;
  color: #fff;
  font-size: 50px;
  margin-right: 10px;
  background: #243c4f;
}

.stats .stat .features {
  padding-top: 11px;
  padding-right: 12px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
}

.stats .stat p {
  font-size: 18px;
  color: #7F7F7F;
}

.stats .stat {
  margin-bottom: 30px;
}

/* Resume Page */

.resume-education {
  margin-bottom: 30px;
}

.rounded-icon i {
  width: 55px;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #243c4f;
}

.title h2 {
  font-size: 25px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #243c4f;
  font-weight: bold;
}

.resume-out {
  margin-left: 4%;
  border-left: 2px solid #E5E5E5;
}

.resume-info {
  padding: 0% 0px 1% 3%;
}

.resume-personal {
  padding: 1% 5% 0px 30px;
}

.info-title {
  font-weight: 600;
  font-size: 22px;
}

.info-title::after {
  content: '';
  width: 10px;
  height: 10px;
  float: left;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  margin: 0.6% 0px 0 -3.7%;
  background: #243C4F;
}

.info-date {
  font-size: 18px;
  padding: 6px 0;
  display: block;
  color: #243C4F;
}

.resume-info p {
  color: #7F7F7F;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.resume-info:first-child {
  padding-top: 0.5%;
}

.resume-info:last-child {
  border: 0;
}

.resume-info:last-child .info-title:after {}

.detallesCursoGoogle p {
  color: #243c4f;
  font-size: 16px;
  padding: 0 1% 1% 2%;
}

/* Portfolio Page */

.portfolio_filter li {
  float: left;
  list-style: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 20px;
  color: #c1c1c1;
}

.portfolio_filter li:last-child {
  margin-right: 0px;
}

.portfolio_items .single_item {
  margin-bottom: 30px;
}

.portfolio_items .single_item img {
  width: 100%;
}

.portfolio_items {
  min-height: 817px;
}

.work-overlay {
  text-align: center;
  position: absolute;
  color: #fff;
  padding: 25%;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.work-overlay h3 {
  font-size: 22px;
  margin-bottom: 4px;
  text-align: center;
}

.work-overlay p {
  font-size: 18px;
  opacity: 0.5;
  text-align: center;
  padding-top: 10px;
}

.work-overlay a.link {
  text-align: center;
  display: inline-block;
  width: 45px;
  height: 45px;
  padding-top: 12px;
  margin-top: 18px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transform: translateY(200px);
  -webkit-transform: translateY(200px);
  -o-transform: translateY(200px);
  -ms-transform: translateY(200px);
  transform: translateY(200px);
  color: #ffffff !important;
  border: solid 1px;
  border: solid 1px #a5a5a5;
}

.work-overlay a.lightbox {
  background: none;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 45px;
  height: 45px;
  padding-top: 12px;
  margin-top: 18px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transform: translateY(200px);
  -webkit-transform: translateY(200px);
  -o-transform: translateY(200px);
  -ms-transform: translateY(200px);
  transform: translateY(200px);
  color: #ffffff !important;
  background: transparent !important;
  border: solid 1px #a5a5a5;
}

.work-inner {
  position: relative;
  overflow: hidden;
}

.work-inner:hover>.work-overlay {
  background: rgba(0, 0, 0, 0.63);
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.work-inner:hover>.work-overlay a.link {
  color: #fff;
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  transition-duration: 0.3s;
}

.work-inner:hover>.work-overlay a.lightbox {
  color: #fff;
  background: #fff;
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  transition-duration: 0.6s;
}

.work-detail {
  margin-bottom: 30px;
}

.work-detail p {
  color: #7F7F7F;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 21px;
}

.work-detail .info-list li {
  width: auto !important;
  float: none;
}

.works-image img {
  width: 100%;
}

.works-image {
  margin-bottom: 30px;
}

.pportfolio {
  padding: 30px 15px;
  float: left;
  width: 100%;
}

.about-info {
  margin-bottom: 10px;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-inner>.item>img {
  width: 100%;
}

.carousel-inner>.movil>img {
  width: 100%;
}

.carousel-inner>.escritorio>img {
  width: 100%;
}

.carousel-inner>.item>a>img {
  height: 300px;
  width: 100%;
}

.pportfolio .descargar {
  padding: 40px 0px 35px 0px;
  text-align: center;
}

.pportfolio .descargar a {
  font-size: 20px;
  color: #2A2A2A;
  border: solid 1px #2A2A2A;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 34px;
  padding: 10px 10px;
  margin-right: 5px;
  text-align: center;
}

.pportfolio .descargar a:hover {
  transition: all ease 0.3s;
}

.pportfolio .descargar a.bitbucket:hover {
  color: #fff;
  background: #205081;
  border: solid 1px #205081;
}

.imagePortfolio {
  width: 65%;
  float: left;
  margin-right: 20px;
  overflow: hidden;
  padding: 0 5px 0 0;
}

.textPortfolio {
  width: 30%;
  padding: 20px;
  margin: 2px 0 0 0;
  float: right;
  background-color: #1c1c1c;
  -webkit-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

a.p-project, a.n-project {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 12px;
  color: #666666;
  line-height: 1;
  float: left;
}

a.n-project {
  float: right;
}

.carouselFlechas {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}

/* Contact Page */

.contact-info ul.info-list {
  padding: 42px 0px 0px 43px;
  width: 100%;
  float: left;
}

.form-inp {
  width: 100%;
  height: 45px;
  border: solid 1px #dfdfdf;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 15px;
}

.contact-form {
  padding: 10px 0px 35px 10px;
  text-align: center;
}

.contact-form textarea {
  width: 100%;
  border: solid 1px #dfdfdf;
  font-size: 20px;
  padding: 10px 0 0 10px;
  margin-bottom: 15px;
}

.contact-info .social-icons {
  padding: 5% 0% 20% 20%;
  width: 100%;
  float: left;
}

.contact-info ul li {
  width: 100% !important;
}

.enviar {
  padding: 3% 0px 3% 0px;
  text-align: center;
  font-size: 20px;
  color: #2A2A2A;
  background: white;
  border: solid 1px #2A2A2A;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 100%;
  margin-right: 5px;
  text-align: center;
}

.enviar:hover {
  color: #fff;
  background: #205081;
  border: solid 1px #205081;
}

.success {
  font-size: 100px;
  text-align: center;
}

/* Responsive */

@media screen and (max-width: 765px){
    .nav-tabs>li>a {
      color: black;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1300px) {
  .prueba {
    margin-left: 20%;
    width: 80%;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1200px) {
  .prueba {
    margin-left: 24%;
    width: 75%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .nav-tabs>li>a {
    color: black;
  }
  .prueba {
    margin-left: 0%;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .info-title::after {
    width: 0px;
    height: 0px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .title_middle {
    text-align: center;
  }
  .title_middle i {
    width: 55px;
    height: 55px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    padding-top: 18px;
    float: none;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    background: #243c4f
  }
}

/*Min Width 768px */

@media screen and (min-width: 768px) {
  ul.info-list li {
    float: left;
    width: 50%;
  }
  ul.info-list {
    width: 100%;
    float: left;
  }
  ul.top-menu li {
    display: block !important;
  }
  ul.top-menu {
    min-height: 81px;
  }
}

@media screen and (max-width: 768px) and (min-width: 530px) {
  ul.info-list li {
    float: left;
    width: 50%;
  }
}

/*Max Width 1199px */

@media screen and (max-width: 1199px) {
  ul.top-menu li a {
    padding: 30px 20px;
  }
}

/*Max Width 991px */

@media screen and (max-width: 991px) {
  .profile {
    margin-bottom: 30px;
  }
  .my-skills {
    margin-top: 30px;
  }
  .contact-info {
    margin-top: 30px;
  }
}

/*Max Width 767px */

@media screen and (max-width: 767px) {
  ul.top-menu li.active {
    border-bottom: 1px dashed #cccccc !important;
  }
  ul.top-menu li:hover {
    border-bottom: 1px dashed #cccccc !important;
  }
  .profile {
    margin-bottom: 30px;
  }
  .my-skills {
    margin-top: 30px;
  }
  .services .service .features {
    width: 100%;
    text-align: center;
  }
  .services .service {
    text-align: center;
  }
  .services .service i {
    float: none;
  }
  ul.top-menu li {
    float: none;
    display: none;
    border-bottom: 1px dashed #cccccc;
    border-right: 0;
  }
  ul.top-menu {
    top: 0;
    margin-top: 78px;
    z-index: 1;
    left: 0;
    position: fixed;
  }
  .responsive-menu {
    display: block !important;
  }
  .right-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
  }
}

@media only screen and (max-width:479px) {
  ul.top-menu li a {
    padding: 27px 0 23px 0;
  }
  #wrapper {
    margin: 15px 0;
  }
  .page-title {
    border-bottom: 1px dashed #cccccc;
    padding: 30px;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .portfolio_filter li {
    float: none;
    text-align: center;
    width: 100%;
  }
  .portfolio_filter {
    width: 100%;
    margin-top: 15px;
    line-height: 26px;
  }
  .user-img {
    display: none;
  }
  .comment-content {
    margin-left: 0px;
  }
  .work-overlay {
    padding-top: 10% !important;
  }

  /* Responsive Menu */
  .responsive-menu {
    padding: 28px 23px;
    color: #fff;
    cursor: pointer;
    display: none;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    -webkit-box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
    box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
  }
